
.block-editor-page .wp-block {
	max-width: 720px;
	max-width: 1140px;
}
.block-editor-page .wp-block[data-align="wide"] {
	/*
	max-width: 1140px;
	*/
}
.block-editor-page .wp-block[data-align="full"] {
  max-width: none;
}

.block-editor-page .editor-styles-wrapper {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

/* Headings */
.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor .editor-block-list__block h1.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h2.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h3.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h4.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h5.mce-content-body,
.edit-post-visual-editor .editor-block-list__block h6.mce-content-body,
.edit-post-visual-editor h1,
.edit-post-visual-editor h2,
.edit-post-visual-editor h3,
.edit-post-visual-editor h4,
.edit-post-visual-editor h5,
.edit-post-visual-editor h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #5A5A5A;
	line-height: 1.1em;
}

.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor .editor-block-list__block h1.mce-content-body,
.edit-post-visual-editor h1 {
    font-size: 30px;
    margin-bottom: .8em;
}

.edit-post-visual-editor .editor-block-list__block h2.mce-content-body,
.edit-post-visual-editor h2 {
    font-size: 25px;
    margin-bottom: .55em;
}

.edit-post-visual-editor .editor-block-list__block h3.mce-content-body,
.edit-post-visual-editor h3 {
    font-size: 22px;
    margin-bottom: .8em;
}

.edit-post-visual-editor .editor-block-list__block h4.mce-content-body,
.edit-post-visual-editor h4 {
    font-size: 20px;
    margin-bottom: 1.1em;
}

.edit-post-visual-editor .editor-block-list__block h5.mce-content-body,
.edit-post-visual-editor h5 {
    font-size: 18px;
    margin-bottom: 1.3em;
}

.edit-post-visual-editor .editor-block-list__block h6.mce-content-body,
.edit-post-visual-editor h6 {
    font-size: 16px;
    margin-bottom: 1.4em;
}

/* Body Font */
.edit-post-visual-editor .editor-block-list__block-edit,
.edit-post-visual-editor,
.editor-styles-wrapper div.wp-block,
.editor-styles-wrapper div.wp-block p,
.editor-styles-wrapper div.wp-block-post-content p,
.editor-styles-wrapper ul.wp-block {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #5A5A5A;
	line-height: 1.5;
}
